.form-task
    margin-top: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 36px
.casual
    background: #232323
    .content
        label
            font-weight: 300
            font-style: normal
            font-size: 14px
            line-height: 16px
            padding: 5px 0 
            &:last-child
                margin-top: 10px
        h3 
            font-weight: 500
            font-style: normal
            font-size: 18px
            line-height: 21px

        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 11px 13px
        
        .block-label
            margin: 15px 0
            display: flex
            flex-direction: column
            justify-content: flex-start
            .block-input-stena
                display: flex
                flex-direction: row
                flex-wrap: wrap
                padding: 10px
                text-align: right
                margin-left: 45px
                margin-top: -33px
                input 
                    margin-top: 3px 
                    margin-left: 3px
            .block-input-window
                display: flex
                margin-left: 55px
                margin-top: -23px
                input
                    margin-left: 3px
    
.block-input-contact
    display: flex
    margin-left: 70px
    margin-top: -22px 
    input 
        padding: 0 35px
    
input 
    background: #1c1c1c
    border: none
    outline: none
    width: 71px
    height: 17px



.block-comment
    textarea
        margin: -9px 0
        background:  #1c1c1c
        outline: none
        border: none

.btn 
    display: flex
    justify-content: flex-start
    margin-left: 55px
    margin-top: 16px
    button 
        background: #1c1c1c
        color: #ffffff
        font-weight: 300
        font-style: normal
        font-size: 14px
        line-height: 16px
        padding: 6px 24px 



