@media screen and ( min-width: 768px )
    .block-money-form   
        width: 639px
        height: 1161
.block-money-header
    display: flex
    justify-content: space-between
    margin-top: 40px
    h2 
        font-size: 28px
        font-style: normal
        font-weight: bold
        line-height: 33px
        text-align: center
.block-money
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.block-money-form
    margin-top: 28px
    background-color: #232323
    height: 540px
    width: 246px
    .block-money-form-header 
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 21px
        margin-left: 13px
        margin-top: 11px

    
