<!DOCTYPE html>
html(lang="ru", dir="ltr", xmlns:og="http://ogp.me/ns#")
    head
        title Document
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        link(rel="stylesheet", href="0")
        link(rel="shortcut icon", href="favicon.png", type="image/png")
        link(rel="stylesheet", href="style.css")
    body.body
        include jade/header
        script(src="script.js")
        main
          .main
           .tr_header 
            .polygon_1
            h2 <strong>Преимущества</strong>
            .polygon_2

           .adventure 
            .adv
               .polygon1_topleft 
                h2 <strong>1</strong>
               .icon 
                    img(src="./img/svg/icon.svg", alt="Loading...").svg
                .content 
                h3 Всегда на связи 
                p Вам ответят в любое время в любом способе связи в самые короткие сроки
            .adv
               .polygon1_topleft 
                h2 <strong>2</strong>
               .icon 
                    img(src="./img/svg/icon.svg", alt="Loading...").svg
                .content 
                h3 Всегда на связи 
                p Вам ответят в любое время в любом способе связи в самые короткие сроки                
            .adv
               .polygon1_topleft 
                h2 <strong>3</strong>
               .icon 
                    img(src="./img/svg/icon.svg", alt="Loading...").svg
                .content 
                h3 Всегда на связи 
                p Вам ответят в любое время в любом способе связи в самые короткие сроки
            .adv
               .polygon1_topleft 
                h2 <strong>4</strong>
               .icon 
                    img(src="./img/svg/icon.svg", alt="Loading...").svg
                .content 
                h3 Всегда на связи 
                p Вам ответят в любое время в любом способе связи в самые короткие сроки  

           .tr_header 
            .polygon_1
            h2 <strong>цены и услуги</strong>
            .polygon_2


           .price
            .prc
                .content
                    p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки.привет, пока.
                    h3 УТЕПЛЕНИЕ СТЕН
                    p 1000₽ / кв.м  
                .polygon1_toprigth
                 h2 <strong>1</strong>
                .icon
                    img(src="./img/png/photo_2.png", alt="Loading....") 
            .prc
                .content
                    p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки.привет, пока.
                    h3 УТЕПЛЕНИЕ СТЕН
                    p 1000₽ / кв.м  
                .polygon1_toprigth
                 h2 <strong>2</strong>
                .icon
                    img(src="./img/png/photo_2.png", alt="Loading....") 
           .price 
             .prc
                .content
                    p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки.привет, пока.
                    h3 УТЕПЛЕНИЕ СТЕН
                    p 1000₽ / кв.м  
                .polygon1_toprigth
                 h2 <strong>3</strong>
                .icon
                    img(src="./img/png/photo_2.png", alt="Loading....") 
              .prc
                .content
                    p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки.привет, пока.
                    h3 УТЕПЛЕНИЕ СТЕН
                    p 1000₽ / кв.м  
                .polygon1_toprigth
                 h2 <strong>4</strong>
                .icon
                    img(src="./img/png/photo_2.png", alt="Loading....") 
            .tr_header 
                .polygon_1
                h2 <strong>Вопрос-ответ</strong>
                .polygon_2   
            .block-quistion
                .block_bumble_l
                    .bumble_left
                        p dsadsa    
                .block_bumble_r
                    .bumble_rigth
                        p dsadas   
            .tr_header 
                .polygon_1
                h2 <strong>оформление заявки</strong>
                .polygon_2       
            
            .form-task 
              form(action="#", method="post").casual
                .content
                    h3 УКАЖИТЕ РАЗМЕРЫ: 
                    
                    .block-label 
                        label Стена: 
                        .block-input-stena 
                            input(type="text")
                            input(type="text")
                            input(type="text")
                            input(type="text")
                        label Окно:
                        .block-input-window
                            input(type="text")
                            input(type="text")
                        label Цоколь:
                        .block-input-window
                            input(type="text")
                            input(type="text")
                    .block-contact
                        h3 УКАЖИТЕ КОНТАКТНЫЕ ДАННЫЕ:
                        .block-label
                            label ФИО:
                            .block-input-contact 
                                input(type="text")

                            label Телефон:
                            .block-input-contact
                                input(type="text")

                            label E-mail:
                            .block-input-contact
                                input(type="text")
                            
                            label Комментарий:
                    .block-comment
                            
                     
                            textarea(name="comment", cols="26", rows="6")       
                            .btn
                                button Отправить

    include jade/footer        