<!DOCTYPE html>
html(lang="ru", dir="ltr", xmlns:og="http://ogp.me/ns#")
    head
        title Document
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap")
        link(rel="shortcut icon", href="favicon.png", type="image/png")
        link(rel="stylesheet", href="style.css")
    body.body
        include jade/header
        script(src="script.js")

        section.block-promo-header
            .polygon_1

            h2 ПРЕИМУЩЕСТВА
            .polygon_2

        section.promo
            .promo_1
                     img(src="/img/svg/number.svg", alt="Loading..").svg
                     .phone
                       img(src="/img/svg/icon.svg", alt="Loading..").svg
                     .content_promo_1
                      h3 ВСЕГДА НА СВЯЗИ
                      .text
                       p Вам ответят в любое время в любом способе связи в самые короткие сроки
            .promo_2
                    img(src="/img/svg/number_2.svg", alt="Loading..").svg
                    .phone
                     img(src="/img/svg/Union.svg", alt="Loading..").svg
                     .content_promo_2
                      h3 НИЗКАЯ ЦЕНА
                      .text
                       p Качественная работа по очень приятным расценкам
            .promo_3
                    img(src="/img/svg/number_3.svg", alt="Loading..").svg
                    .phone
                     img(src="/img/svg/Car.svg", alt="Loading..").svg
                     .content_promo_3
                      h3 БЫСТРАЯ РАБОТА
                      .text
                       p Качественная работа по очень приятным расценкам
        
        section.block-price-header
            .polygon_1
            h2 ЦЕНЫ И УСЛУГИ
            .polygon_2
        section.promo-price
            .promo-price_1
                .picture
                    .number
                        img(src="/img/svg/number__1.svg", alt="Loading..").svg
                    img(src="/img/png/photo_2.png", alt="Loading..")
                    .text
                        p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки. привет, пока.
                    .text_bg 
                        .text_bg_h
                            h3 УТЕПЛЕНИЕ СТЕН
                            p 1000₽ / кв.м  

            .promo-price_2
                .picture
                    .number
                        img(src="/img/svg/number__2.svg", alt="Loading..").svg
                    img(src="/img/png/photo_3.png", alt="Loading..")
                    .text
                        p Для стен, фундамента, крыши. Продажа от 1 листа. 
                    .text_bg
                        .text_bg_h
                            h3 ДЕКОРАТИВНАЯ ШТУКАТУРКА ФАСАДОВ
                            p 1000₽ / кв.м  

            .promo-price_3
                .picture
                    .number
                        img(src="/img/svg/number__3.svg", alt="Loading..").svg
                    img(src="/img/png/photo_4.png", alt="Loading..")
                    .text
                        p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки. 
                    .text_bg 
                        .text_bg_h
                            h3 ВНУТРЕННЯЯ ОТДЕЛКА
                            p 1000₽ / кв.м  
                            
            .promo-price_4
                .picture
                    .number
                        img(src="/img/svg/number__4.svg", alt="Loading..").svg
                    img(src="/img/png/photo_5.png", alt="Loading..")
                    .text
                        p Для стен, фундамента, крыши. Продажа от 1 листа. Уточняйте размер скидки. 
                    .text_bg 
                        .text_bg_h
                            h3 РЕМОНТ “ПОД КЛЮЧ”
                            p 1000₽ / кв.м  
        section.block-quistion-header
            .polygon_1
            h2 ВОПРОС-ОТВЕТ
            .polygon_2
        section.block-quistion
            .block_bumble_l
             .bumble_left            
                p Norm
            .block_bumble_r
             .bumble_rigth            
                p Как быстро вы сможете приступить к работе
        .block-quistion
            .block_bumble_l
             .bumble_left            
                p 10/10
            .block_bumble_r
             .bumble_rigth            
                p kak jizn?
         .block-quistion
            .block_bumble_l
             .bumble_left            
                p go
            .block_bumble_r
             .bumble_rigth            
                p smooke?

        
        section.block-money-header
            .polygon_1
            h2 ОФОРМЛЕНИЕ ЗАЯВКИ
            .polygon_2
        form(action="#", method="post")
            section.block-money
                .block-money-form
                 .block-money-form-header
                    h3 УКАЖИТЕ РАЗМЕРЫ:
                 .block-money-stena
                    p  Стены:

                    .input_position
                        input(type="text", placeholder="Стена 1")
                        input(type="text", placeholder="Стена 2")
                        input(type="text", placeholder="Стена 3")
                        input(type="text", placeholder="Стена 4")
                 .block-window
                        p Окно:
                        .input_window
                            input(type="text", placeholder="Высота")
                            input(type="text", placeholder="Ширина")
                 .block-podval
                        p Цоколь:
                        .input_window
                            input(type="text", placeholder="Высота")
                            input(type="text", placeholder="Ширина")
                    .block-money-form-header
                        h3 УКАЖИТЕ КОНТАКТНЫЕ ДАННЫЕ:
                    .contact-form
                        p ФИО:
                        input(type="text")
                        p Телефон:
                        input(type="text")
                        p Email: 
                        input(type="text")
                        p Комментарий
                        textarea(name="text", cols="26", rows="6")
                    .btn
                     button Отправить
     include jade/footer        