footer.footer
   ul
      li 
         a(href="tel:88005553535") 8&nbsp;(800)&nbsp;555-35-35
      li
         a(href="") Воронеж, ул. Пушкина, д. Кукушкина
      li Сайт разработан Digital-агенством <strong><a href="https://needbutton.ru">needbutton</a></strong>
