section.section-header
    .section-header-block
        .section-header-block.logo
            img(src="./img/svg/Logo.svg", alt="Loading...").svg
        .section-header-block.logo_artfasad
            img(src="./img/svg/Name_logo.svg", alt="Loading...").svg

    .section-header-block_tint
        .logo_tint
           img(src="./img/png/tint.png", alt="")
        .logo_artfasad
             img(src="./img/png/Logo.png", alt="Loading...")
        .png
             img(src="./img/png/Photo.png", alt="Loading...")
             .text
                h1 ARTFASAD 36:
                h2 - УТЕПЛЕНИЕ СТЕН
                h2 - ДЕКОРАТИВНАЯ ШТУКАТУРКА ФАСАДОВ
                h2 - ВНУТРЕННЯЯ ОТДЕЛКА
                h2 - РЕМОНТ «ПОД КЛЮЧ»
             .icon 
                .whatsapp
                    a(href="#")
                        img(src="./img/svg/btn.whatsapp.svg", alt="Loading...").svg 
                    a(href="#")   
                        img(src="./img/svg/btn.call.svg", alt="Loading...").svg 

        

          
                
                