header
 .header
   .helper
        img(src="./img/svg/Logo.svg", alt="Loading...", class="logo").svg
        img(src="./img/svg/Name_logo.svg", alt="Loading...", class="logo_artfasad36").svg

 .block
  .tint
  .picture
    .logo_artfasad
        img(src="./img/svg/Logo_big.svg", alt="Loading...").svg
     .content 
        h1 <strong>ARTFASAD36:</strong>
        h2 - Утепление стен
        h2 - Декоративная штукатурка фасадов
        h2 - Внутренняя отделка 
        h2 - ремонт «под ключ» 
        button Оформить заказ
  
   
                