// Header
 //medea iphone plus ...
@media screen and ( min-width: 768px )
    .section-header-block.logo
        svg 
            width: 77px
            height: 74px
    .section-header-block.logo_artfasad
        svg
            width: 218px
            height: 23px
    .section-header-block_tint
        .text
            h1
             font-weight: 700
             font-style: normal
             font-size: 48px
             line-height: 56px
            h2
             font-weight: 700
             font-style: normal
             font-size: 36px
             line-height: 53px

        .png
            margin-right: 42px
            img 
             width: 508px
             height: 1055px   
        .text
                margin-top: -100%
                margin-left: -12%
                text-align: left
                width: 500px
        .logo_artfasad
            margin-top: 123px
            margin-right: 213px
            position: relative
            z-index: 2
            img
                width: 338px
                height: 326px
        .logo_tint 
            img
                width: 131px
                height: 270px
.section-header-block
    display: flex
    justify-content: flex-start

.section-header-block.logo
    margin-left: 20px
    margin-top: 13px
    svg
        width: 47px
        height: 46px
.section-header-block.logo_artfasad
    svg  
        width: 142px
        height: 16px
    margin-top: 28px
    margin-left: 17px

.section-header-block_tint
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .logo_tint
        margin-top: 32px
        img
         width: 57px
         height: 118px

    .logo_artfasad
        margin-top: 53px
        margin-right: 76px
        position: relative
        z-index: 9666
        img
            width: 152px
            height: 147px
    .png
        position: absolute
        right: 0
    .text
            text-align: center
            margin-top: -100%
            margin-left: -28%
            width: 230px
            h1
                font-style: normal
                font-weight: bold
                font-size: 33px
                line-height: 42px
            h2 
                 font-weight: 500
                 font-size: 18px
                 font-style: normal
                 line-height: 26px
.icon
    text-align: right
    margin-right: 21px
    a:active, a:focus, a
        outline: none
// /Header