// Header
 //medea iphone plus ...

.section-header-block
    display: flex
    justify-content: flex-start

.section-header-block.logo
    margin-left: 20px
    margin-top: 13px
.section-header-block.logo_artfasad
    margin-top: 28px
    margin-left: 17px

.section-header-block_tint
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .logo_tint
        margin-top: 32px
    .logo_artfasad
        margin-top: 53px
        margin-right: 76px
        position: relative
        z-index: 9666
    .png
        position: absolute
        right: 0
    .text
            text-align: center
            margin-top: -100%
            margin-left: -28%
            width: 230px
            h1
                font-style: normal
                font-weight: bold
                font-size: 33px
                line-height: 42px
            h2 
                 font-weight: 500
                 font-size: 18px
                 font-style: normal
                 line-height: 26px
.icon
    text-align: right
    margin-right: 21px
    a:active, a:focus, a
        outline: none
// /Header